.teacher-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 16px;
    /* line-height: 30px; */
    background: #ffffff;
    box-shadow: 0px 2px 3px #eeeeee;
}
.nav-breadcrumb {
    margin-left: 30px;
}
.teacher-avatar {
    margin-right: 45px;
}